<ul class="header-menu-left">
    {{#each leftCategory}}
        <li leftCategory-id="{{id}}" leftCate-title="{{title}}">{{~title~}}</li>
    {{/each}}
</ul>
<ul class="header-menu-right">
    {{#each rightCategory}}
        <li rightCategory-id="{{id}}">{{~title~}}</li>
            <ul class="service-sub-menu">
                {{#each subMenus}}
                    <li class="service-sub-list" subId-subId="{{subId}}">{{subTitle}}</li>
                {{/each}}
            </ul>
    {{/each}}
</ul>