<li style="background-image: url({{img}}">
    <div class="main-items-text-box white-layer">
        <div class="main-items-img-text-top">
            <span>{{title}}</span><br>
            {{~name~}}
        </div>
        <div class="main-items-img-text-bottom">
            {{{summary}}}
            <span class="main-items-img-text-kal">{{kal}}</span>
        </div>
    </div>
    <div class="main-items-list">
        {{~keyword~}}
        <div class="main-items-list-price">{{price}}</div>
    </div>
</li>




