<li>
    {{~name~}}
    <span>{{price}}</span>
</li>
<li>
    {{~name~}}
    <span>{{price}}</span>
</li>
<li>
    {{~name~}}
    <span>{{price}}</span>
</li>
<li>
    {{~name~}}
    <span>{{price}}</span>
</li>